* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 95%;
}

header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  background: #244855;
  padding: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

a {
  text-decoration: none;
  color: #fbe9d0;
}

.links-left {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.links-right {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: end;
}

h3 {
  font-size: 20px;
}

section.about {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
  background: #fbe9d0;
  color: #244855;
}

.textAbout {
  flex-basis: 70%;
  font-size: 15px;
}

.personCoding {
  width: 200px;
  margin-top: 50px;
  margin-left: 50px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  background: #90AEAD;
  color: #244855;
}

.project {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  gap: 20px;
  padding: 20px;
}

.specificProject {
  border: 2px solid #fbe9d0;
  border-radius: 5px;
  padding: 10px;
}

.projectImage {
  height: 20%;
}

.contact {
  background: #E64833;
  color: #fbe9d0;
  padding: 10px 20px;
}

.contactIcons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 10fr;
  padding: 10px;
  font-size: 30px;
  margin-right: 15px;
}

footer {
  background: #244855;
  color: #fbe9d0;;
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}