* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  border-radius: 10px;
  background: rgb(198, 8, 65);
  color: white;
  padding: 20px;
}

.links-left {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.links-right {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: end;
}