* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 95%;
}

header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  border-radius: 5px;
  background: rgb(198, 8, 65);
  color: white;
  padding: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.links-left {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.links-right {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: end;
}

h3 {
  font-size: 20px;
}

section.about {
  display: flex;
  flex-direction: row;
  gap: 15px;
  border-radius: 5px;
  padding: 20px;
  background: rgb(232, 230, 230)
}

.textAbout {
  flex-basis: 70%;
  font-size: 15px;
}

.personCoding {
  width: 200px;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 5px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  padding: 20px;
  border: 5px solid rgb(198, 8, 65);
}

.project {
  border-radius: 5px;
  padding: 20px;
  border: 2px solid rgb(198, 8, 65);
}
